<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-dark bg-primary mb-5">
        <span class="navbar-brand mb-0 mx-5 h1">WebTravel</span>
        <div class="mx-5">
          <a href="/account/login" class="btn btn-primary">Login</a>
          <a href="/account/register" class="btn btn-primary">Register</a>
        </div>
      </nav>
        <div class="container">
            <div class="alert alert-danger">
                Bilinmeyen bir hata meydana geldi bu hata tekrar ederse bizimle iletişime geçin
            </div>
        </div>
    
</body>
</html>